body {
	padding-top: 45px;
}

.navbar {
	background-color: #536872;
}

.navbar-brand {
	color: #ffffff;
}

.button {
	vertical-align: center;
}
.post{
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color:#1919FF;
	width:60px;
	height:60px;
	border-radius:100%;
	background:#4679BD;
	border:none;
	outline:none;
	color:#FFF;
	font-size:150%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition:.3s;  
	text-align: center;
	line-height:60px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#search-by {
}


/************************************************
                  Nav bar buttons
*************************************************/

#home {
	color: #ffffff;
	padding-top: 15px;
}

#home:hover {
	background-color: transparent;
	color: black;	
}

#settings {
	color: #ffffff;
	padding-top: 15px;
}

#settings:hover {
	background-color: transparent;
	color: black;
}

#analytics {
	color: #ffffff;
	padding-top: 15px;
}

#analytics:hover {
	background-color: transparent;
	color: black;
}

#search {
	color: #ffffff;
	padding-top: 15px;
}

#search:hover {
	background-color: transparent;
	color: black;
}

/************************************************
                    Settings
*************************************************/
#user-profile {
	margin-top: 100px;
	margin-right: 350px;
	margin-left: 100px;
	height: 50px;
	width: 300px;
}

#logout {
	margin-top: 100px;
	margin-right: 75px;
	height: 50px;
	width: 300px;
}
