body {
	padding-top: 45px;
}

.navbar {
	background-color: #536872;
}

.navbar-brand {
	color: #ffffff;
}

.button {
	vertical-align: center;
}

.post {
	position: fixed;
	bottom: 50px;
	right: 70px;

	width: 50px;
	height: 50px;
    border-radius: 50%;
	border:10px;
    overflow:hidden;
    
    background: #4679BD; 

    color: #ffffff;
}

#search-by {
}


/************************************************
                  Nav bar buttons
*************************************************/

#home {
	color: #ffffff;
	padding-top: 15px;
}

#home:hover {
	background-color: transparent;
	color: black;	
}

#settings {
	color: #ffffff;
	padding-top: 15px;
}

#settings:hover {
	background-color: transparent;
	color: black;
}

#search {
	color: #ffffff;
	padding-top: 15px;
}

#search:hover {
	background-color: transparent;
	color: black;
}


