<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8"/>	
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/bootstrap.min.js" type="text/javascript"></script>
		<script src="js/script.js" type="text/javascript"></script>


		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		    <div class="container">
		        <div class="navbar-header">
		        	<a href="javascript:history.back()"><img src="images/back-button.png" width="50" height="50"></a>
		        	<a class="navbar-brand">Password</a>


		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hamburger">
		                <span class="sr-only"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		        </div>

		        <div class="collapse navbar-collapse" id="hamburger">
		            <ul class="nav navbar-nav pull-right">
		            	<li class="hamburger-items"><a href="/index">Home</a></li>
		                <li class="hamburger-items"><a href="/search">Search</a></li>
		                <li class="hamburger-items"><a href="/analytics">Analytics</a></li>
		                <li class="hamburger-items"><a href="/settings">Settings</a></li>
		            </ul>
		        </div>
		    </div>
		</nav>

		<div class="current">
			<div class="container">
				<h3 style="text-align: left;">Enter old password</h3>
				<input type="password" placeholder="Enter old password" id="current-password"></input>
			</div>
		</div>

		<div class="new">
			<div class="container">
				<h3 style="text-align: left;">Enter new password</h3>
				<input type="password" placeholder="Enter new password" id="new-password"></input>
				<input type="password" placeholder="Confirm new password" id="confirm-password"></input>
			</div>
		</div>

		<div class="confirmation">
			<h4 class="green" style="height: 40px; text-align:center" id="password-updated">Password updated</h4>
			<h4 class="red" style="height: 40px; text-align:center" id="password-error">Please fill all fields</h4>
			<h4 class="red" style="height: 40px; text-align:center" id="diff-password-error">Confirmation Password Does Not Match</h4>
			<h4 class="red" style="height: 40px; text-align:center" id="invalidwarning">Incorrect Password</h4>
		</div>
		<button type="button" class="btn btn-primary" id="password-button">Save</button>

	</body>
</html>
