body {
	padding-top: 45px;
}

hr {
	margin: -4px;
	height: 0px;
}

.navbar {
	background-color: #536872;
}
 
.navbar-brand {
	color: #ffffff;
}

.button {
	vertical-align: center;
}
.post{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width:60px;
	height:60px;
	border-radius:100%;
	background:#4679BD;
	border:none;
	outline:none;
	color:#FFFFFF;
	font-size:150%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition:.3s;  
	text-align: center;
	line-height:60px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.post:hover {
	opacity: 0.80;
	text-decoration: none;
	color: #FFFFFF;
}

.post:active {
	text-decoration: none;
}

/* Center the title of the current page */
.navbar-brand {
	position: absolute;
	left: 0;
	text-align: center;
	margin: auto;
	width: 100%;
	z-index: -1;
}

/************************************************
                    Color
*************************************************/

.blue{ 
	color:#478fca!important
}

.green{
	color:#69aa46!important
}

/************************************************
                    Login
*************************************************/
#background {
	/*background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("images/chipmunk.jpg");*/
	background: url("../images/background.jpg");
	background-size: cover;
	height: 650px;
}

.header {
	margin-top: -50px;
	margin-bottom: -70px;
}

.login {
	display: block;
	margin: 0 auto;
	width: 50%;
	padding: 7px 10px;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #abcabc;
}

.jumbotron h1, h3 {
	text-align: center;
}

/* Needs to fix the width of buttons */
#login-button {
	display: inline-block;
	margin: 0 auto;
	margin-left: 120px;
}

#signup-button {
	display: inline-block;
	margin: 0 auto;
}

/************************************************
                    Font
*************************************************/
h1, h2, h3, h4, h5, p, td, li {
	font-family: "Open Sans";
}

.bigger-110{
	font-size:110%!important
}

/* Change color of placeholder text */
::-webkit-input-placeholder {
    color: black;
}

/************************************************
                  Nav bar buttons
*************************************************/
.hamburger-items {

}

#back-button {
	padding-right: 200px;
	border: solid black;
}

#back-button-image {
	height: 50px;
	float: left;
	margin-right: 30px;
}

#home {
	color: #ffffff;
	padding-top: 15px;
}

#home:hover {
	background-color: transparent;
	color: black;	
}

#settings {
	color: #ffffff;
	padding-top: 15px;
}

#settings:hover {
	background-color: transparent;
	color: black;
}

#analytics {
	color: #ffffff;
	padding-top: 15px;
}

#analytics:hover {
	background-color: transparent;
	color: black;
}

#search {
	color: #ffffff;
	padding-top: 15px;
}

#search:hover {
	background-color: transparent;
	color: black;
}

/************************************************
                    Settings
*************************************************/
#settings-background {
}

#user-profile {
	margin-top: 100px;
	margin-right: 350px;
	margin-left: 100px;
	height: 50px;
	width: 300px;
}

#logout {
	color: red;

}

.settings-buttons {
	margin-top: 30px;
	display: block;
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-family: "Open Sans";
}

#caption {
	display: block;
	margin: 30px 0 30px 0;
	height: 30px;
	width: 100%;
	font-size: 18px;
	text-transform: uppercase;
}


/************************************************
                Edit user profile
*************************************************/
#userphoto {
	display: block;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	margin-top: 70px;
	border-radius: 60%;
}

.profile {
	display: block;
	width: 100%;
	padding-top: 30px;
	margin: 0 auto;
}


/* Needs to be fixed for length of line */

#name {
	display: block;
	width: 80%;
	padding-left: 75px; 
	font-size: 18px;
	margin: 0 auto;
	margin: 25px 25px;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid #a9a9a9;
}

#about {
	display: block;
	width: 80%;
	padding-left: 75px; 
	font-size: 18px;
	margin: 0 auto;	
	margin: 25px 25px;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid #a9a9a9;
}

#nameText {
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid #a9a9a9;
	width: 100%;
}


/************************************************
                   Password
*************************************************/
.current {
	display: block;
	margin: 30px 0 30px 0;
}

.new {
	display: block;
	margin: 30px 0 30px 0;
}

#current-password {
	width: 100%;
	margin: 20px 0 20px 0;
	border: none;
	outline: none;
	border-bottom: 1px solid #a9a9a9;
}

#new-password, #confirm-password {
	width: 100%;
	margin: 15px 0 15px 0;
	border: none;
	outline: none;
	border-bottom: 1px solid #a9a9a9;
}

#password-button {
	width: 100%;
}







